html, body {
    max-width: 100%;
    /*overflow-x: hidden;*/
}
html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    /*z-index: 100 !important;*/
    /*overflow: visible;*/
    display: flex;
    width: 80vw;
    margin: auto;
}
#logo-link {
    /*line-height: 48px;*/
    /*margin-top: 16px;*/
    text-decoration: none;
    color: black;

}


.header-inner:first-of-type {
    padding-top: 12px;
}
.header-inner:last-of-type {
    margin-left: auto;
    display: table;
}
.header-dropdown {
    max-width: 50vw;
    min-width: 30vw;
    width: 40vw;
    /*font-size: 0.8rem;*/
    z-index: 1000;
    position:relative;
}

Label[for=model-change] {
    font-weight: bold;
    display:table-cell;
    vertical-align:middle;
    padding-right: 4px;

}
#model-change {
    display:table-cell;
    vertical-align:middle;
}
#chat {
    height: calc(100vh - 120px);
    overflow: scroll;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding-bottom: 12px;
}
#footer-inner {
    width: 80vw;
    margin: auto;
}
#chat-input {
    background-color: white;
    width: 100%;
    margin: auto;
    min-height: 32px;
    line-height: 32px;
    border: 1px solid rgb(222, 222, 223);
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 5px 5px 15px 5px rgb(247, 247, 248);;
}
#reset-button {
    font-weight: bold;
    padding: 3px;
    opacity: 0.5;
    display:table-cell;
    vertical-align:middle;
}
#reset-button:hover {
    opacity: 1.0;
}

#chat-instruction {
    background-color: white;
    width: 80vw;
    margin: auto;
    font-size: 0.8rem;
}


.message {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(222, 222, 223);
}

.inner-message {
    margin: auto;
    width: 80vw;
    white-space: pre-wrap;
    min-height: 12px;
}
.from-them {
    background-color: rgb(247, 247, 248);
}

/*.from-them:before {*/
/*    !*content: "AI";*!*/
/*}*/

.from-me {
    background-color: white;
}
textarea {
    font-size: 1rem;
}