:root {
    --sidebar-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow-x: hidden;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
    display: none;
}

.sidebar-header, .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px; /* Ensuring equal height */
}

.sidebar-header strong {
    margin-left: 16px;
}

.sidebar-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
.footer-buttons {
    width: 80%;
    margin: auto;
}

.sidebar-footer {
    padding: 10px;
    flex-shrink: 0;
    border-top: 1px solid #e4e4e4;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}


.content {
    flex: 1;
    display: flex;
}

.left-panel {
    height: calc(100vh - 50px - 64px - 20px);
    max-width: 100%;
    width: 33%;
    flex: 1 1 33vw;
    position: relative;
}

.right-panel {
    flex: 1 1 66vw;
    width: 67%;
    display: none; /* Default: Hidden */
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: calc(100vh - 50px - 64px - 20px);
    border-left: 1px solid #f2f2f2;
}


.toggle-right-panel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

codecanvas {
    display: none;
    /*visibility: hidden;*/
}

.footer {
    position: relative;
}


.message {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(242, 242, 243);
}

.inner-message {
    margin: auto;
    width: 80%;
    white-space: pre-wrap;
    min-height: 12px;
}

.from-them {
    background-color: rgb(252, 252, 253);
}


.from-me {
    background-color: white;
}

.message-header {
    position: relative;
    margin-left: 10%;
    font-weight: bold;
}

.message-header:before {
    font-weight: normal;
    position: absolute;
    left: -32px;
    top: -2px;
    border-radius: 16px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


pre {
    margin-top: 0;
    position: relative;
    max-width: 100%; /* Ensure it does not exceed its container */
    width: 100%; /* Makes it responsive to container width */
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: pre; /* Prevents text wrapping */
    display: block;
    box-sizing: border-box;
}



.code-block {
    margin-top: 12px;
}

.code-header {
    display: flex;
    color: rgb(217, 216, 225);
    background-color: rgb(52, 53, 64);
    padding: 4px 1em;
    font-size: 0.8rem;
    line-height: 16px;
    margin-top: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /*max-width: 100%;*/
}


.code-header > .copy {
    margin-left: auto;
    cursor: pointer;
}


.header-inner {
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.header-inner.selected {
    background-color: #b4f1b4;
}

.header-inner:first-of-type {
    margin-left: 0;
    padding-left: 0;
    cursor: default;
}

.header-inner:last-of-type {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
    cursor: default;
    display: flex;
}

#chat {
    max-width: 100vw;
    height: calc(100vh - 132px);
    overflow-y: auto;
}

.chat-input {
    position: absolute;
    bottom: 24px;
    width: 100%;
    background-color: white;
}


.chat-instruction {
    position: absolute;
    bottom: 96px;
    font-size: 0.8rem;
    color: rgb(52, 53, 65);
    width: calc(100% - var(--sidebar-width));
}

.chat-instruction > div {
    width: 80%;
    margin: auto;
    padding-left: 2px;
}


input, textarea, select {
    min-height: 24px;
    line-height: 24px;
    border: 1px solid rgb(222, 222, 223);
    border-radius: 4px;
    text-align: right;
}

.input-box {
    margin: auto;
    width: 80%;
    min-height: 42px;
    line-height: 32px !important;
    /*height: 42px !important;*/
    border: 1px solid rgb(222, 222, 223);
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 5px 5px 15px 5px rgb(247, 247, 248);
    background-color: white;
    z-index: 9999;
    max-height: 240px;
    overflow: scroll;
}

/*li.strike {*/
/*    text-decoration: line-through;*/
/*}*/

.history-age-title {
    font-size: 0.8rem;
    opacity: 0.6;
    margin-top: 16px;
}
#stop-generating {
    right: 12%;
    background-color: white;
    border: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

button:disabled {
    display: none;
}
#translate-button {
    position: relative;
    bottom: 4px;
}

.input-box:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#login-form {
    margin: auto;
    display: flex;
}
#login-form > button {
    border: none;
    background-color: unset;
    cursor: pointer;
    margin-left: 12px;
    height: 24px;
    display: inline-block;
    margin-top: 28px;
}

#login-form input {
    text-align: left !important;
    font-size: initial;
}

#login-form-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    /*border: 1px solid rebeccapurple;*/
    margin-top: 100px;
}

#timing-info {
/*    overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 80%;
}

.loading {
    width: 20px;
    display: inline-block;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

a {
    text-decoration: none;
}

#logo-link {
    color: black !important;
    text-decoration: none;
}

.inner-footer {

    position: absolute;
    margin: auto;
    display: flex;
    font-size: 0.8rem;
    width: 100%;
    bottom: -20px;
}

.inner-footer a {
    opacity: 0.5;

}

.inner-footer a:hover {
    opacity: 1.0;
}

.inner-footer {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#sidebar-username {
    max-width: 100%;
    width: 100%;
    display: flex;
}
#sidebar-username-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
}

#logout-button {
    color: black;
    margin-left: auto !important;
    margin-right: 0 !important;
}

.sidebar-button:visited {
    color: unset;
}

.sidebar-footer {
    margin-top: auto !important;
    display: flex;
}



.header-button {
    display: inline-flex;
    text-decoration: none;
    margin-right: 20px;
    color: unset;
    margin-bottom: 4px;
}


.header-button:hover {
    opacity: 1.0;

}

.header-button > i {
    margin-bottom: 6px;
}


#history {
    padding-left: 0;
    list-style-type: none;
}

#history a {
    color: rgb(93, 93, 94);
    text-decoration: none;
}

#history li {
    display: flex;
    align-items: baseline;
    padding: 0;
}


.edit-button {
    width: 80%;
    margin: 4px auto auto;
    font-size: 0.8rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;

}

.edit-button a {
    margin-left: 16px;
    opacity: 0.5;
}

.edit-button a:hover {
    opacity: 1.0;
}

#history-div, #projects-div ul {
    margin-top: unset;
}
#projects-div {
    margin-bottom: 32px;
}
#projects li {
    list-style: none;
}
.sidebar-title {
    padding-left: 16px;
}

.delete-history-item {
    margin-left: auto;
    margin-right: 4px;
    border: none;
    background-color: unset;
    color: rgb(183, 183, 193);
    cursor: pointer;
    font-size: 1.2rem;
    opacity: 0.5;

}
.d-flex {
    display: flex;
}
#new-project-button {
    margin-left: auto;
    border: none;
    background-color: unset;
    cursor: pointer;
    font-size: 20px;
    line-height: 0;
    padding-bottom: 8px;
}

.delete-history-item {
    visibility: hidden; /* Initially hide the button */
}

li:hover .delete-history-item {
    visibility: visible; /* Show the button when the li element is hovered */
    position: relative;
}


.delete-collection-item {
    margin-left: auto;
    border: none;
    background-color: unset;
    color: rgb(183, 183, 193);
    cursor: pointer;
    font-size: 1.2rem;
    opacity: 0.5;

}

.delete-collection-item {
    visibility: hidden; /* Initially hide the button */
}

div.menu-collection-link-container:hover .delete-collection-item {
    visibility: visible; /* Show the button when the li element is hovered */
}




#history li {
    height: 30px;
    line-height: 30px;
    display: flex;
}

.history-item-link {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 20px);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 998;
}

.popup-form div {
    width: 100%;
    display: flex;
    margin-bottom: 0.2rem;
    align-items: center;
}


.popup-form div > label {
    display: inline-block;
    width: 200px;
}

.popup-form div > input, textarea, select {
    margin-left: auto;
    min-width: 200px;
    width: 40vw;
    padding: 4px;
    /*border: 1px solid;*/
    border-radius: 5px;
    background-color: white;
}

.popup-form div > input[type=checkbox] {
    /*width: 20px;*/
    margin-left: 0;
    min-width: 0;
}

.popup-form div > select {
    height: 32px;
    text-align: left;

}


.popup-form div > input[type=text], textarea, input[type=file] {
    text-align: left;
}

.popup-form {
    width: calc(100% - 20px);
}

.scroll-content {

    overflow: scroll;
    max-height: 70vh;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60vw;
    max-width: 600px;
    position: relative;
    /*transition: all 5s ease-in-out;*/
    max-height: 80vh;
    overflow: hidden;

}

.popup h1 {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    /*transition: all 200ms;*/
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

    color: #669;
    padding: 8px;
}

.popup .close:hover {
    color: #333;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

pre code.hljs {
    /*display: block;*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 0.9rem;
    display: block;
    /*width: 333px;*/

    /*white-space: pre-wrap;*/
}


code.inline {
    display: inline;
    font-family: monospace, "Courier New";
    font-weight: bold;
}

label {

    font-weight: bold;

}

form > div {
    margin-bottom: 2rem;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    /*font-size: 16px;*/
    background-color: white;

    padding: 8px;
}

button {
    padding: 4px;
}


#wait {
    border: none;
    background-color: unset;
    color: white;
    font-weight: bold;
}

#wait::backdrop {
    background-color: rgba(19, 19, 19, 0.5);

}


input[type="number"] {
    -moz-appearance: textfield;
}

/* For Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#scrolldown-button-div {
    position: absolute;
    bottom: 20px;
    /*right: 10px;*/
    text-align: center;
    /*width: 100%;*/
    display: flex; /* Make the div a flex container */
    justify-content: center; /* Center child elements horizontally */
    align-items: center;
    right: 50%;
    /*width: calc(100% - var(--sidebar-width));*/
}

#scrolldown-button {
    display: none;
    height: 32px;
    width: 32px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 16px;
    background-color: white;
    /*border: none;*/
    border: 1px solid lightgray !important;
}

.hidden {
    display: none;
}

#outer-collection-menu {
    position: relative;
    display: inline-block;
}

#menu {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 200px;
    left: 0;
    top: 32px;
    z-index: 1;
    padding: 8px;
}

#menu a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    line-height: 32px;
}

#menu hr {
    border: 0;
    border-bottom: 1px solid lightgray;
    height: 1px; /* Set height to 1px for a very thin line */
}

.chevron-down {
    position: relative;
    width: 12px; /* Width of the chevron */
    height: 12px; /* Height of the chevron */
    display: inline-block;
}

.chevron-down::before,
.chevron-down::after {
    top: 6px;
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px; /* Thickness of the chevron */
    background-color: darkgray; /* Color of the chevron */
}

.chevron-down::before {
    left: 0;
    transform: skewY(45deg); /* Skew for the left part of the chevron */
}

.chevron-down::after {
    right: 0;
    transform: skewY(-45deg); /* Skew for the right part of the chevron */
}


#logout-button {
    /*border: 0;*/
    position: relative;
    top: 3px;
}


.gg-code,
.gg-code::after,
.gg-code::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 8px;
    height: 20px;
}

.gg-code::after,
.gg-code::before {
    content: "";
    position: absolute;
    height: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg) scaleY(1);
    left: -4px;
    top: 6px;
}

.gg-code::after {
    transform: rotate(-45deg) scaleX(-1);
    left: 4px;
}


.gg-add-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    /*transform: scale(var(--ggs, 1));*/
    border-radius: 4px;
}

.gg-add-r::after,
.gg-add-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}

.gg-add-r::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}


#sidebar-toggler {
    position: relative;
    bottom: 5px;
}

#new-chat-button {
    position: relative;
    bottom: 5px;
}

#right-panel-toggler {
    position: relative;
    top: 4px;
}

.gg-file-document {
    box-sizing: border-box;
    position: relative;
    display: block;
    /*transform: scale(var(--ggs, 1));*/
    width: 14px;
    height: 16px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px 4px 1px 1px;
    overflow: hidden;
}

.gg-file-document::after,
.gg-file-document::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-file-document::before {
    background: currentColor;
    box-shadow: 0 4px 0,
    -6px -4px 0;
    left: 0;
    width: 10px;
    height: 2px;
    top: 8px;
}

.gg-file-document::after {
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px;
}

.gg-arrow-left-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    /*transform: scale(var(--ggs, 1));*/
    border-radius: 4px;
}

.gg-arrow-left-r::after,
.gg-arrow-left-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 4px;
}

.gg-arrow-left-r::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 6px;
}

.gg-arrow-left-r::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor;
}

.gg-arrow-right-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    /*transform: scale(var(--ggs, 1));*/
    border-radius: 4px;
}

.gg-arrow-right-r::after,
.gg-arrow-right-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 4px;
}

.gg-arrow-right-r::after {
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 6px;
}

.gg-arrow-right-r::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor;
}


.gg-terminal {
    box-sizing: border-box;
    position: relative;
    display: block;
    /*transform: scale(var(--ggs, 1));*/
    width: 24px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px;
}

.gg-terminal::after,
.gg-terminal::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-terminal::before {
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    top: 5px;
    left: 3px;
}

.gg-terminal::after {
    width: 4px;
    height: 2px;
    background: currentColor;
    top: 10px;
    left: 11px;
}

.gg-log-in {
  box-sizing: border-box;
  position: relative;
  display: block;
  /*transform: scale(var(--ggs, 1));*/
  width: 6px;
  height: 16px;
  border: 2px solid;
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: -10px;
}
.gg-log-in::after,
.gg-log-in::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-log-in::after {
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  left: -8px;
  bottom: 2px;
}
.gg-log-in::before {
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: -11px;
  bottom: 5px;
}

.gg-log-out::after {
    border-top: 2px solid;

    border-left: 2px solid;

    transform: rotate(-45deg);

    width: 8px;

    height: 8px;

    left: 4px;

    bottom: 2px;

}

.gg-log-out::after, .gg-log-out::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-log-out::before {
    border-radius: 3px;
    width: 10px;
    height: 2px;
    background: currentColor;
    left: 5px;
    bottom: 5px;
}

.gg-log-out {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 16px;
    /*transform: scale(var(--ggs,1));*/
    border: 2px solid;
    border-right: 0 currentcolor;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -10px;
}

.gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}

.gg-profile {
    overflow: hidden;
    width: 22px;
    height: 22px;
    position: relative
}

.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}

.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0;
    width: 18px;
    height: 18px
}

.gg-math-plus,
.gg-math-plus::after {
    display: block;
    box-sizing: border-box;
    background: currentColor;
    border-radius: 10px
}

.gg-math-plus {
    margin-top: -2px;
    position: relative;
    width: 16px;
    height: 2px
}

.gg-math-plus::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    top: -7px;
    left: 7px
}

.rotate45 {
    transform: rotate(45deg);
}

.gg-mic {
    box-sizing: border-box;
    position: relative;
    display: block;
    /*transform: scale(var(--ggs, 1));*/
    width: 16px;
    height: 12px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-top: 0;
    margin-top: 3px
}

.gg-mic::after,
.gg-mic::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-mic::after {
    border: 2px solid;
    width: 8px;
    height: 18px;
    left: 2px;
    top: -10px;
    border-radius: 4px
}

.gg-mic::before {
    width: 10px;
    height: 4px;
    top: 12px;
    left: 1px;
    border-right: 4px solid transparent;
    box-shadow: 0 2px 0,
    inset -2px 0 0
}

.gg-menu {
    /*transform: scale(var(--ggs, 1));*/
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor;
}

.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px;
}

.gg-menu::after {
    top: 6px;
}

.gg-attachment {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    margin-top: 11px
}

.gg-attachment::after,
.gg-attachment::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    border: 2px solid
}

.gg-attachment::after {
    border-bottom: 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    right: -2px;
    width: 10px;
    height: 14px;
    bottom: 8px
}

.gg-attachment::before {
    width: 6px;
    height: 12px;
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    left: 2px;
    bottom: 4px
}


#extra-input-buttons {
    /*border: 1px solid red;*/
    position: absolute;
    /*left: calc(10% - 80px);*/
    right: calc(90% + 5px);
    top: 4px;
    display: flex;
    justify-content: center;
}

#extra-input-buttons button, #extra-input-buttons a {
    border: none;
    background-color: unset;
    padding: 10px;
    cursor: pointer;
    color: black !important;
}

div.warning input {
    border: 1px solid red; /* Example to highlight the field in error */
}

div.warning:after {
    content: attr(data-error-message);
    color: red; /* Text color of the error message */
    display: block;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.menu-collection-link-container {
    display: flex !important;
}

.param-help {
    margin-bottom: 1.5rem !important;
    color: rgba(106, 115, 125, 0.64);
    /*color: rgba(93, 65, 178, 0.5);*/
    font-size: smaller;
    display: block !important;
}

.file-icon {
    display: flex;
    border: 1px solid #e0e0e0;
    background-color: rgb(252, 252, 253);
    border-radius: 5px;
    /*position: relative;*/
    height: 32px;
    line-height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
}

.file-icon:before {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTQgMEMxNi43NjE0IDAgMTkgMi4yMzg1OCAxOSA1VjE3QzE5IDIwLjg2NiAxNS44NjYgMjQgMTIgMjRDOC4xMzQwMSAyNCA1IDIwLjg2NiA1IDE3VjlIN1YxN0M3IDE5Ljc2MTQgOS4yMzg1OCAyMiAxMiAyMkMxNC43NjE0IDIyIDE3IDE5Ljc2MTQgMTcgMTdWNUMxNyAzLjM0MzE1IDE1LjY1NjkgMiAxNCAyQzEyLjM0MzEgMiAxMSAzLjM0MzE1IDExIDVWMTdDMTEgMTcuNTUyMyAxMS40NDc3IDE4IDEyIDE4QzEyLjU1MjMgMTggMTMgMTcuNTUyMyAxMyAxN1Y2SDE1VjE3QzE1IDE4LjY1NjkgMTMuNjU2OSAyMCAxMiAyMEMxMC4zNDMxIDIwIDkgMTguNjU2OSA5IDE3VjVDOSAyLjIzODU4IDExLjIzODYgMCAxNCAwWiIgZmlsbD0iY3VycmVudENvbG9yIi8+Cjwvc3ZnPg==);
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: absolute;*/
}

#upload-button:disabled {
    display: inline-block;
}


button[disabled] .spinner {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
}

.spinner {
    display: none;
    border: 3px solid rgba(255, 255, 255, 0.3); /* Light grey border */
    border-top: 3px solid blue; /* Blue top border */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite; /* Animation applied here */
}

button:disabled .spinner {
    display: inline-block;
    /* More styles for visible spinner */
}

button:disabled {
    /* Optional: Styles to indicate the button is disabled */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

summary::-webkit-details-marker { display: none }
details > summary {
    list-style-type: none; /* Removes the default triangle */
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

details > summary::before {

    content: url('data:image/svg+xml;base64,PHN2ZwogIHdpZHRoPSIyNCIKICBoZWlnaHQ9IjI0IgogIHZpZXdCb3g9IjAgMCAyNCAyNCIKICBmaWxsPSJub25lIgogIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKPgogIDxwYXRoCiAgICBkPSJNMTAuNTg1OCA2LjM0MzE3TDEyIDQuOTI4OTZMMTkuMDcxMSAxMkwxMiAxOS4wNzExTDEwLjU4NTggMTcuNjU2OUwxNi4yNDI3IDEyTDEwLjU4NTggNi4zNDMxN1oiCiAgICBmaWxsPSJjdXJyZW50Q29sb3IiCiAgLz4KPC9zdmc+');
    display: inline-block;
    /*margin-right: 5px;*/
    position: absolute;
    left: -4px;
    top: -4px;
}

details[open] > summary::before {
    content: url('data:image/svg+xml;base64,PHN2ZwogIHdpZHRoPSIyNCIKICBoZWlnaHQ9IjI0IgogIHZpZXdCb3g9IjAgMCAyNCAyNCIKICBmaWxsPSJub25lIgogIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKPgogIDxwYXRoCiAgICBkPSJNNi4zNDMxNyA3Ljc1NzMyTDQuOTI4OTYgOS4xNzE1NEwxMiAxNi4yNDI2TDE5LjA3MTEgOS4xNzE1N0wxNy42NTY5IDcuNzU3MzVMMTIgMTMuNDE0Mkw2LjM0MzE3IDcuNzU3MzJaIgogICAgZmlsbD0iY3VycmVudENvbG9yIgogIC8+Cjwvc3ZnPg==');
}

.shimmer {
    display: inline-block;
    /*noinspection CssInvalidPropertyValue*/
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
    100% {
        -webkit-mask-position: left
    }
}

.think-content {
    padding-left: 10px;
    border-left: solid 8px rgb(244, 244, 244);

}
.think-details {
    margin-bottom: 8px;
}


.katex-html {
    display: none;
}
.branch-button {
    display: flex;
}
.branch-button > * {
    display: inline-block;
}
.branch-button > span {
    margin-left: 16px;
}
.gg-git-pull {
  box-sizing: border-box;
  position: relative;
  display: block;
  /*transform: scale(var(--ggs, 1));*/
  width: 2px;
  height: 14px;
  background: currentColor;
}
.gg-git-pull::after,
.gg-git-pull::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-git-pull::before {
  border-right: 2px solid;
  border-top: 2px solid;
  border-top-right-radius: 4px;
  width: 8px;
  height: 6px;
  left: 0;
  top: 2px;
}
.gg-git-pull::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  box-shadow:
    0 12px 0 0,
    6px 8px 0 0;
  border-radius: 100%;
  left: -1px;
  top: -1px;
}

ul, ol {
    margin-top: -20px;
}
li {
    margin-left: 16px;
    margin-bottom: -8px;
}
#linewrap-toggler {
    border: 0;
    background-color: #f5f5f5;
    padding: 6px;
}