:root {
  --sidebar-width: 240px;
}

* {
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#model-name {
    font-weight: normal;
}
.message {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(222, 222, 223);
}

.inner-message {
    margin: auto;
    width: 80%;
    white-space: pre-wrap;
    min-height: 12px;
}


/*.message:before {*/
/*    content: "X";*/
/*    position: absolute;*/
/*    top: 17px;*/
/*    left: calc(10vw - 48px);*/
/*    background-color: rgb(88, 185, 157);*/
/*    !*#FFABA0*!*/
/*    !**!*/
/*    color: white;*/
/*    font-size: 0.8rem;*/
/*    font-weight: lighter;*/
/*    border-radius: 4px;*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    line-height: 24px;*/
/*    text-align: center;*/
/*}*/

.from-them {
    background-color: rgb(247, 247, 248);
}

/*.from-them:before {*/
/*    !*content: "AI";*!*/
/*}*/

.from-me {
    background-color: white;
}

/*.from-me:before {*/
/*    !*content: "ME";*!*/
/*}*/

pre {
    margin-top: 0;
    position: relative;
}


pre code {
    padding-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.code-block {
    margin-top: 12px;
}

.code-header {
    display: flex;
    color: rgb(52, 53, 65);
    background-color: rgb(235, 235, 240);
    padding: 4px 1em;
    font-size: 0.8rem;
    line-height: 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


.code-header > .copy {
    margin-left: auto;
    cursor: pointer;
}
#header {
    z-index: 2;
    height: 48px;
    line-height: 48px;
    display: flex;
    margin: auto;
    width: 80%;
    background-color: white;
}
#logo {
    margin-right: 16px;
}
.header-inner {
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}
.header-inner.selected {
    background-color: #b4f1b4;
}

.header-inner:first-of-type {
    margin-left: 0;
    padding-left: 0;
    cursor: default;
}
.header-inner:last-of-type {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
    cursor: default;
    display: flex;
}

#chat {
    max-height: calc(100vh - 240px);
    overflow: scroll;
}

.chat-input {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
    width: calc(100% - var(--sidebar-width));
    background-color: white;
}

#extra-content {
    width: 80%;
    margin: auto;
}

.chat-instruction {
    position: absolute;
    bottom: 96px;
    font-size: 0.8rem;
    color: rgb(52, 53, 65);
    width: calc(100% - var(--sidebar-width));
    z-index: 88;
}
.chat-instruction > div {
    width: 80%;
    margin: auto;
    padding-left: 2px;
}


input, textarea, select {
    min-height: 24px;
    line-height: 24px;
    border: 1px solid rgb(222, 222, 223);
    border-radius: 4px;
    text-align: right;
}

.input-box {
    margin: auto;
    width: 80%;
    min-height: 32px;
    line-height: 32px !important;
    /*height: 42px !important;*/
    border: 1px solid rgb(222, 222, 223);
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 5px 5px 15px 5px rgb(247, 247, 248);;
}
/*#upload-plus {*/
/*    !*border-radius: 10px;*!*/
/*    !*background-color: #b4f1b4;*!*/
/*    !*padding: 4px;*!*/
/*    !*width: 16px;*!*/
/*    !*height: 10px;*!*/
/*    position: relative;*/
/*    !*display: inline-block;*!*/

/*}*/

/*#upload-plus:after {*/
/*    content: "+";*/
/*    font-size: 20px;*/
/*    position: absolute;*/
/*    height: 28px;*/
/*    width: 28px;*/
/*    background-color: #b4f1b4;*/
/*    border-radius: 14px;*/
/*    display: block;*/
/*    text-align: center;*/
/*    line-height: 28px;*/
/*    top: -5px;*/
/*}*/
#stop-generating {
    /*display: none;*/
    right: 12%;
    background-color: white;
    border: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    /*display: none !important;*/
}

button:disabled {
    display: none;
}

/*.input-box:focus,*/
/*input:focus,*/
/*select:focus,*/
/*textarea:focus,*/
/*button:focus {*/
/*    outline: none;*/
/*}*/


#login-form {
    margin: auto;
}
#login-form > input {
    text-align: left;
}
#login-form-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    /*border: 1px solid rebeccapurple;*/
}

#timing-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - var(--sidebar-width))
}

.loading {
    width: 20px;
    display: inline-block;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
a {
    text-decoration: none;
}
a:visited {
    color: rgb(93, 65, 178);
    text-decoration: underline;
}
#logo-link {
    color: black !important;
}

.footer {

    position: absolute;
    margin: auto;
    display: flex;
    font-size: 0.8rem;
    width: 100%;
    bottom: -20px;
    /*border-radius: 20px;*/
    /*border: 1px solid lightgray;*/
    /*margin: auto;*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*display: inline-block;*/
    /*top: 20px;*/
}
.footer a {
    /*color: rgb(128, 128, 128);*/
    opacity: 0.5;

}
.footer a:hover {
    opacity: 1.0;
    /*color: black;*/
}
.footer-buttons {
    margin: auto;
    width: 80%;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start;
}

#settings-button {
    margin-left: auto;
}

.sidebar {
    padding: 10px;
    background-color: rgb(32, 33, 35);
    color: rgb(183, 183, 193);
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /*opacity: 0.5;*/
}
.sidebar div {
    margin: 8px;
}
.sidebar-button {
    border: 1px solid rgb(183, 183, 193);
    border-radius: 5px;
    background-color: unset;
    color: rgb(183, 183, 193);
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
}
#reset-button{
    width: 80%;
    margin: auto;
}

#sidebar-username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#logout-button {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.sidebar-button:visited {
    color: unset;
}

.sidebar-footer {
    margin-top: auto !important;
    display: flex;
}
.container {
  margin-left: auto;  /* Default margin */
}

.sidebar + .container {
    margin-left: var(--sidebar-width);  /* Margin when sidebar is present */
    margin-right: 0;
    /*width: calc(80% - 200px);*/
}


.header-button {
    margin-left: 12px;
    font-weight: normal;
    padding: 3px;
    font-size: smaller;
    opacity: 0.5;
}
.header-button:hover {
    opacity: 1.0;
}
.header-button > img {
 padding-top: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  /*transition: opacity 500ms;*/
  visibility: hidden;
  opacity: 0;
    z-index: 999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
    z-index: 998;
}
.popup-form > div {
    width: 100%;
    display: flex;
    margin-bottom: 0.2rem;
    align-items: center;
}
.param-help {
    margin-bottom: 1.5rem !important;
    color: rgba(106, 115, 125, 0.64);
    /*color: rgba(93, 65, 178, 0.5);*/
    font-size: smaller;
}
.popup-form > div> label {
    display: inline-block;
    width: 200px;
}

.popup-form > div > input, textarea, select {
    margin-left: auto;
    min-width: 200px;
    width: 40vw;
    padding: 4px;
    /*border: 1px solid;*/
    border-radius: 5px;
    background-color: white;
}
.popup-form > div > select {
    height: 32px;

}
.ml-auto {
    margin-left: auto;
}

.popup-form > div>input[type=text], textarea, input[type=file] {
    text-align: left;
}

.popup-form {
    width: calc(100% - 20px);
}

.scroll-content {

    /*max-height: 80vh;*/
    overflow: scroll;
    max-height: 70vh;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60vw;
  max-width: 600px;
  position: relative;
  /*transition: all 5s ease-in-out;*/
  max-height: 80vh;
  overflow: hidden;

}

.popup h1 {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}


pre code.hljs {
  display: block;
}


code.inline {
    display: inline;
    font-family: monospace, "Courier New";
    font-weight: bold;
}
label {

    font-weight: bold;

}
form > div {
    margin-bottom: 2rem;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  /*font-size: 16px;*/
  background-color: white;

  padding: 8px;
}

button {
    padding: 4px;
}


#wait {
    border: none;
    background-color: unset;
    color: white;
    font-weight: bold;
}
#wait::backdrop {
    background-color: rgba(19, 19, 19, 0.5);

}


input[type="number"] {
    -moz-appearance: textfield;
}

/* For Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}