html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.message {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(222, 222, 223);
}

.inner-message {
    margin: auto;
    width: 80vw;
    white-space: pre-wrap;
    min-height: 12px;
}


/*.message:before {*/
/*    content: "X";*/
/*    position: absolute;*/
/*    top: 17px;*/
/*    left: calc(10vw - 48px);*/
/*    background-color: rgb(88, 185, 157);*/
/*    !*#FFABA0*!*/
/*    !**!*/
/*    color: white;*/
/*    font-size: 0.8rem;*/
/*    font-weight: lighter;*/
/*    border-radius: 4px;*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    line-height: 24px;*/
/*    text-align: center;*/
/*}*/

.from-them {
    background-color: rgb(247, 247, 248);
}

/*.from-them:before {*/
/*    !*content: "AI";*!*/
/*}*/

.from-me {
    background-color: white;
}

/*.from-me:before {*/
/*    !*content: "ME";*!*/
/*}*/

pre {
    margin-top: 0;
    position: relative;
}


pre code {
    padding-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.code-block {
    margin-top: 12px;
}

.code-header {
    display: flex;
    background-color: rgb(52, 53, 65);
    color: white;
    padding: 4px 1em;
    font-size: 0.8rem;
    line-height: 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


.code-header > .copy {
    margin-left: auto;
    cursor: pointer;
}
#header {
    z-index: 2;
    height: 48px;
    line-height: 48px;
    /*padding-top: 16px;*/
    /*padding-bottom: 16px;*/
    display: flex;
    margin: auto;
    width: 80vw;
    background-color: white;
    /*position: fixed;*/
}
#logo {
    margin-right: 16px;
}
.header-inner {
    /*margin-right: 16px;*/
    padding-left:16px;
    padding-right:16px;
    cursor: pointer;
}
.header-inner.selected {
    background-color: #b4f1b4;
}
.header-inner:last-of-type {
    margin-left: auto;
    margin-right: 0;
    cursor: default;
}

#chat {
    max-height: calc(100vh - 240px);
    overflow: scroll;
}

.chat-input {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
    width: 100%;
}

.chat-instruction {
    position: absolute;
    bottom: 96px;
    font-size: 0.8rem;
    color: rgb(52, 53, 65);
    width: 80%;
    margin-left: calc(10% - 4px);
}

.input-box {
    margin: auto;
    width: 80vw;
    min-height: 32px;
    line-height: 32px;
    border: 1px solid rgb(222, 222, 223);
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 5px 5px 15px 5px rgb(247, 247, 248);;
}

.input-box:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.loading {
    /*font-size: 30px;*/
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}