<div id="popup3" class="overlay">
    <div class="popup">
        <h2>Upload</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div>
                <form method="post" enctype="multipart/form-data" id="upload-code">
                    <div>
                        <label>
                            Give a name to this job
                            <br><br>
                            <strong>This currently works best for Python. If you want to test other languages, please contact WEN</strong>
                            <br><br>
                            <input type="text" value="" placeholder="Give me a name" id="code-jobname" required>
                        </label>
                    </div>
                    <div>
                        <label>
                            Choose files<br>
                            <!--suppress HtmlUnknownAttribute -->
                            <input id="code-folder" type="file" webkitdirectory required>
                        </label>
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>