<div id="popupHelp" class="overlay">
    <div class="popup">
        <h2>Help</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div>
                <div>
                    <h1>Issues or questions?</h1>
                    Open issue on <a href="{{git}}" target="_blank">{{git}}</a>
                </div>

                <div>
                    <div id="todos-div">
                        <strong>Todos</strong>
                        <ul>
                            <li>Collections (LLM Search Engine - RAG)</li>
                            <li>Rename history items with the help of the LLM</li>
                            <li>Image understanding</li>
                            <li>Up and down buttons, so a RLHF dataset can be created</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>