<div id="popupHelp" class="overlay">
    <div class="popup">
        <h2>Help</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div>
                <div>
                    <h1>Issues or questions?</h1>
                    Open issue on <a href="{{git}}" target="_blank">{{git}}</a>
                </div>

                <div>
                    <h1>Coming up next</h1>
                    <ul>
                        <li>Semantic search for single document (i.e. ask your PDF)</li>
                        <li>Finetuning models</li>
                        <li>Semantic search for many documents (i.e. ask all your documents)</li>
                        <li>Source code search (i.e. ask your code)</li>
                        <li>More models</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>