<div id="popup2" class="overlay">
    <div class="popup">
        <h2>Upload</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div>
                <form method="post" enctype="multipart/form-data" id="upload-pdf">
                    <div>
                        <label>
                            Choose a PDF file
                            <br><br>
                            <strong>If you need analysis for other text based formats, contact WEN</strong>
                            <br><br>
                            <input id="pdf-file" type="file" accept="application/pdf" required>
                        </label>
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>