<div id="popupProject" class="overlay">
    <div class="popup">
        <h2>New project</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div>
                <form method="post" enctype="multipart/form-data" id="upload-pdf">
                    <div>
                        <label>
                            Project name:
                            <br><br>
                            <input id="project-name" type="text" required>
                        </label>
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>