<div id="popupUpload" class="overlay">
    <div class="popup">
        <h2>Add context</h2>
        <a class="close" href="#">&times;</a>
        <div class="scroll-content">
            <div>
                <p>
                    You can add context to the current prompt either by just adding a file (must be shorter than ~1500
                    words). Once uploaded you can simply chat with the bot by referring to the 'context'.
                    <strong>Example</strong>: Summarize / Translate the context
                </p>

                <p>
                    If you want to add several documents or larger files or being able to reuse an uploaded file, you
                    can add it to a collection.
                    <strong>TODO</strong>
                </p>
            </div>
            <br>
            <form id="upload-form" class="popup-form">
                <div>
                    <label for="file">File</label>
                    <input id="file" name="file" type="file" required>
                </div>
                <div class="param-help">
                    Single documents or zip-archives.
                </div>

                <div>
                    <label for="collection-selector">Collection</label>
                    <select id="collection-selector" name="collection-selector">
                        <option value="None">None, just use file in the current context</option>
                        <option value="New" disabled>New collection</option>
                        <option value="iacr" disabled>IACR</option>
                    </select>
                </div>

                <div class="param-help">
                    Todo
                </div>
                <div>
                    <button id="upload-button" class="ml-auto">
                        Upload
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>