<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/js/app.css">
    <link rel="stylesheet" href='/static/main.css'/>
    <script type="module" src="/static/js/app.js"></script>
    <title>{{name}}GPT</title>
</head>
<body>



<div class="page">

    {% block sidebar %}
    {% endblock sidebar %}

    <div class="container">
        <div id="header">
            <div class="header-inner"><a href="/" id="logo-link"><strong>{{name}}</strong>GPT</a></div>
        </div>

        {% block content %}
        {% endblock content %}
    </div>
</div>



<dialog id="wait"></dialog>


</body>
</html>