<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/js/app.css">
    <link rel="stylesheet" href='/static/main.css'/>
    <title>{{name}}{{name2}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/javascript/javascript.min.js"></script>
</head>
<body>

<div class="page">

    {% block sidebar %}
    {% endblock sidebar %}

    <div class="container">
        <div id="header">
<!--            <img src="/static/logo.png" height="24" width="24">-->
            {% block extra_header %}
            {% endblock extra_header %}
            <div class="header-inner">
                <a href="/" id="logo-link"><strong>{{name}}</strong>{{name2}}</a>
            </div>
        </div>

        {% block content %}
        {% endblock content %}
    </div>
</div>



<dialog id="wait"></dialog>

<script type="module" src="/static/js/app.js"></script>
</body>
</html>