{% extends "base.html" %}


{% block extra_header %}
<div class="header-inner">
    {% if common_collections %}
        <!-- Trigger link -->
        <a href="#" id="menuLink">Chat<span>&nbsp;</span><span class="chevron-down"></span></a>

        <!-- Hidden menu -->
        <div id="menu" class="hidden">
            <a href="#" class="mode-button" id="mode-chat">Chat</a>

            <hr>
            <strong>Common collections</strong><br>
            {% for item in common_collections %}
                <a href="#" class="mode-button" id="{{ item }}">{{ item }}</a>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock extra_header %}

{% block sidebar %}
    <div class="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-button" href="/" id="reset-button">
                <i class="gg-math-plus"></i>
            </a>
        </div>

        <div id="history-div">
            <strong>History</strong>

            <ul id="history">
            </ul>
        </div>

        <div class="sidebar-footer">
            <div id="sidebar-username">
                <i class="gg-profile"></i>&nbsp;{{username}}
            </div>

            <a class="sidebar-button" href="/logout" id="logout-button"><i class="gg-log-out"></i></a>
        </div>
    </div>
{% endblock sidebar %}


{% block content %}
    <div id="chat">

    </div>
    <div class="chat-instruction">
        <div>Chat here</div>
    </div>
    <div class="chat-input">
        <div id="input-box" class="input-box" contenteditable="true" data-text="Type here..."></div>
        <button id="stop-generating" disabled="disabled">
            Stop generating
            <span class="loading"></span>
        </button>
        <div class="footer">
            <div class="footer-buttons">
                <!--suppress HtmlUnknownAnchorTarget -->
                <a href="#popupUpload" id="translate-button">
                    Upload
                    <span id="upload-plus"></span>
                </a>&nbsp;
                <span id="timing-info"></span>
                <!--suppress HtmlUnknownAnchorTarget -->
                <a href="#popupSettings" id="settings-button">Settings</a>&nbsp;
                <!--suppress HtmlUnknownAnchorTarget -->
                <a href="#popupHelp" id="help-button">Help</a>
            </div>

        </div>
    </div>
    <div id="scrolldown-button-div">
        <button id="scrolldown-button">↓</button>
    </div>
{% endblock content %}


{% include 'common/popups/help.html' %}
{% include 'common/popups/settings.html' %}
{% include 'common/popups/upload.html' %}
{% include 'common/popups/generic.html' %}
