<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/js/app.css">
    <link rel="stylesheet" href='/static/main.css'/>
    <script type="module" src="/static/js/app.js"></script>
    <title>xGPT</title>
</head>
<body>


<div class="container">
    <div id="chat">
    </div>
    <div class="chat-instruction">Chat here</div>
    <div class="chat-input">
        <div id="input-box" class="input-box" contenteditable="true"></div>
    </div>
</div>

</body>
</html>